:root 
{
  --dark-color0: #003;
  --dark-color1: #024;
  --dark-color2: #256;
  --dark-color3: #589;

  --light-color1: #9cf;
  --light-color2: #dff;
  --light-color3: #eff;

  --shadow-color1: #afa;
}

html
{
  width: 100%;
  height: 100%;
}

body
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  background: linear-gradient(125deg, var(--dark-color2), var(--dark-color1));
  scrollbar-color: var(--dark-color1) var(--dark-color3);
  scrollbar-width:  thin;
}

button, select, input, textarea
{
  margin:2px auto;
  background: linear-gradient(to bottom, var(--dark-color2), var(--dark-color3), var(--dark-color2));
  box-shadow: 0px 0px 4px 2px var(--dark-color0), 0px 0px 4px 3px var(--light-color1), inset 2px 2px 2px var(--light-color2), inset -2px -2px 2px var(--dark-color2);
  color: var(--light-color2);
  font-size: 110%;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  padding: 2px 6px;
  transition: all 0.3s linear;
}

button:hover, select:hover 
{
  background: linear-gradient(to bottom, var(--light-color3), var(--light-color2));
  color: var(--dark-color1);
  box-shadow: 0px 0px 3px 1px var(--shadow-color1);
}

option
{
  color: var(--dark-color1);
}

a
{
  color: #eff;
}

textarea
{
  font-size: 70%;
}

.box
{
  padding: 0.5vh;
  width: 20vh;
  height: 10vh;
  background: linear-gradient(125deg, var(--dark-color2), var(--dark-color1));
  color: #75bfc9;
  position: absolute;
  left: 1vh;
  top: 1vh;
  box-shadow: inset 1px 1px 1px 0px var(--light-color2), inset -1px -1px 2px 0px var(--dark-color3), -1px -1px 3px 1px var(--dark-color3), 1px 1px 2px 1px var(--light-color3);
  border-style: none;
  border-radius: 1vh;
  font-size: 1.5vh;
}

.box h2
{
  width: 100%;
  margin: 0vh;
  margin-bottom: 1vh;
  font-family: monospace;
  font-size: 1.5vh;
  text-align: center;
}

.serialdiv
{
  margin:0 auto;
  text-align: center;
  height: 8vh;
}

.infotab
{
  width: 70vh;
  height: 10vh;
  left: 30vh;
  height: 8vh;
}

.github
{
  width: 200px;
  height: 6vh;
  right: 15vh;
  left: unset !important;
  top: 2vh;
  opacity: 0.7;
  text-align: center;
}

.labelInfo
{
  display: inline-block;
  width: 30vh;
  white-space: nowrap;
  text-overflow: ellipse;
}

.labelInfo label
{
  display: inline-block;
  min-width: 15vh;
}

.labelInfo i
{
  background-color: #000;
  border-radius: 2px;
  padding: 0px 5px;
}

.simModule
{
  position: absolute;
  right: 1vh;
  top: 1vh;
  width: 10vh;
  height: 10vh;
  background: url("../images/180x180.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.simModule span
{
  position: absolute;
  top: 1.5vh;
  right: 1.5vh;
  font-size: 1vh;
  height: 1vh;
  font-weight: bold;
}

.paramdiv input, .paramdiv select
{
  min-width: 50%;
  display: block;
}

.paramdiv textarea
{
  width: 99%;
}

.pdfviewer
{
  position: fixed;
  left: 50%;
  top: 50%;
  width: 76vmin;
  height: 100vmin;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #eda, #fed, #eda);
  z-index: 1010;
}

.pdfviewer canvas
{
  position: absolute;
  left: 1vmin;
  bottom: 1vmin;
  width: 69vmin;
  height: 98vmin;
  background-color: white;
}

.pdfviewer div
{
  position: absolute;
  right: 1vmin;
  top: 1vmin;
  width: 4vmin;
  height: 20vmin;
}

.pdfviewer span
{
  display: inline-block;
  width: 4vmin;
  height: 4vmin;
  font-size: 4vmin;
  line-height: 4vmin;
  text-align: center;
  cursor: pointer;
  border-radius: 1vmin;
  margin-top: 2vmin;
}

.pdfviewer span:hover
{
  background-color: #ffa;
}

.bgoverlay
{
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.5);
  display:block;
  position:0px 0px;
  position:absolute;
  z-index:1010;
}