:root 
{
  --dark-color0: #003;
  --dark-color1: #024;
  --dark-color2: #256;
  --dark-color3: #589;

  --light-color1: #9cf;
  --light-color2: #dff;
  --light-color3: #eff;

  --shadow-color1: #afa;
}

html
{
  width: 100%;
  height: 100%;
}

body
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  background: linear-gradient(125deg, var(--dark-color2), var(--dark-color1));
  scrollbar-color: var(--dark-color1) var(--dark-color3);
  scrollbar-width:  thin;
}

button, select, input, textarea
{
  margin:2px auto;
  background: linear-gradient(to bottom, var(--dark-color2), var(--dark-color3), var(--dark-color2));
  box-shadow: 0px 0px 4px 2px var(--dark-color0), 0px 0px 4px 3px var(--light-color1), inset 2px 2px 2px var(--light-color2), inset -2px -2px 2px var(--dark-color2);
  color: var(--light-color2);
  font-size: 110%;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  padding: 2px 6px;
  transition: all 0.3s linear;
}

button:hover, select:hover 
{
  background: linear-gradient(to bottom, var(--light-color3), var(--light-color2));
  color: var(--dark-color1);
  box-shadow: 0px 0px 3px 1px var(--shadow-color1);
}

select
{
  appearance: none;
  linear-gradient(to bottom, var(--dark-color1), var(--dark-color2), var(--dark-color1));
  @supports (appearance: base-select) {
    &,
    &::picker(select) {
      appearance: base-select;
    }
  }
}

select
{
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  line-height: 22px;
  @supports (appearance: base-select) 
  {
    &::picker-icon {
      content: "⮋";
      font-size: 22px;
      width: 22px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      transition: rotate 0.2s ease-out;
    }
    &:open::picker-icon {
      rotate: 180deg;
    }
    &::picker(select) {
      appearance: base-select;
      opacity: 0;
      height: 0;
      margin-top: 5px;
      border: none;
      padding: 4px;
      background: rgba(0,0,0,0.2);
      box-shadow: inset 0px 0px 10px #000, 0px 0px 10px #000;
      border-radius: 5px;
      font-weight: 400;
      overflow: clip;
      transition: height 0.5s ease-out, opacity 0.5s ease-out, overlay 0.5s, display 0.5s;
      transition-behavior: allow-discrete;
    }
    &:open::picker(select) {
      opacity: 1;
      height: calc-size(auto, size);
      overflow: auto;
      @starting-style {
        opacity: 0;
        height: 0;
      }
    }

    option
    {
      background: linear-gradient(to bottom, var(--dark-color1), var(--dark-color0), var(--dark-color1));
      color: var(--light-color1);
      border-radius: 5px;
      box-shadow: inset 0px 0px 4px var(--dark-color2);
      transition-property: color;
      transition-duration: 0.2s;
      transition-timing-function: ease-out;

      &:where(:hover, :focus, :active) {
        background: var(--dark-color1);
        color: var(--light-color2);
      }
      &:checked {
        background: linear-gradient(to bottom, var(--dark-color3), var(--dark-color2), var(--dark-color3));
        color: var(--light-color3);
        text-shadow: 2px 2px 3px #880;
      }
      &::checkmark {
        display: none;
      }
      &:first-child {
        border: 0;
      }
    }
  }
}

a
{
  color: #eff;
}

textarea
{
  font-size: 70%;
}

.box
{
  padding: 0.5vh;
  width: 20vh;
  height: 10vh;
  background: linear-gradient(125deg, var(--dark-color2), var(--dark-color1));
  color: #75bfc9;
  position: absolute;
  left: 1vh;
  top: 1vh;
  box-shadow: inset 1px 1px 1px 0px var(--light-color2), inset -1px -1px 2px 0px var(--dark-color3), -1px -1px 3px 1px var(--dark-color3), 1px 1px 2px 1px var(--light-color3);
  border-style: none;
  border-radius: 1vh;
  font-size: 1.5vh;
}

.box h2
{
  width: 100%;
  margin: 0vh;
  margin-bottom: 1vh;
  font-family: monospace;
  font-size: 1.5vh;
  text-align: center;
}

.serialdiv
{
  margin:0 auto;
  text-align: center;
  height: 8vh;
}

.infotab
{
  width: 70vh;
  height: 10vh;
  left: 30vh;
  height: 8vh;
}

.github
{
  width: 200px;
  height: 6vh;
  right: 15vh;
  left: unset !important;
  top: 2vh;
  opacity: 0.7;
  text-align: center;
}

.labelInfo
{
  display: inline-block;
  width: 30vh;
  white-space: nowrap;
  text-overflow: ellipse;
}

.labelInfo label
{
  display: inline-block;
  min-width: 15vh;
}

.labelInfo i
{
  background-color: #000;
  border-radius: 4px;
  padding: 0px 5px;
  box-shadow: 2px 2px 4px #225;
}

.simModule
{
  position: absolute;
  right: 1vh;
  top: 1vh;
  width: 10vh;
  height: 10vh;
  background: url("../images/180x180.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.simModule span
{
  position: absolute;
  top: 1.5vh;
  right: 1.5vh;
  font-size: 1vh;
  height: 1vh;
  font-weight: bold;
}

.paramdiv input, .paramdiv select
{
  min-width: 50%;
}

.paramdiv textarea
{
  width: 99%;
}

.pdfviewer
{
  position: fixed;
  left: 50%;
  top: 50%;
  width: 76vmin;
  height: 100vmin;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #eda, #fed, #eda);
  z-index: 1010;
}

.pdfviewer canvas
{
  position: absolute;
  left: 1vmin;
  bottom: 1vmin;
  width: 69vmin;
  height: 98vmin;
  background-color: white;
}

.pdfviewer div
{
  position: absolute;
  right: 1vmin;
  top: 1vmin;
  width: 4vmin;
  height: 20vmin;
}

.pdfviewer span
{
  display: inline-block;
  width: 4vmin;
  height: 4vmin;
  font-size: 4vmin;
  line-height: 4vmin;
  text-align: center;
  cursor: pointer;
  border-radius: 1vmin;
  margin-top: 2vmin;
}

.pdfviewer span:hover
{
  background-color: #ffa;
}

.bgoverlay
{
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.5);
  display:block;
  position:0px 0px;
  position:absolute;
  z-index:1010;
}