.tab
{
  position: absolute;
  height: 77vh;
  width: 41.8vw;
  margin: 0 auto;
  text-align: center;
  top: unset;
  bottom: 0.1vh;
  z-index: 1000;
  left: 0.1vw;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 1vh;
}

.tabs
{
  position: absolute;
  height: 85vh;
  width: 42vw;
  top: unset;
  bottom: 1vh;
  left: 1vh;
}

.tabs p
{
  margin-bottom: 0.2vh;
}

.tabselect
{
  position: absolute;
  height: 7vh;
  width: 9.5vw;
  top: 4vh;
  left: 2vw;
  font-size: min(1vw, 2vh);
  font-family: monospace;
  border-radius: 1vh;
  box-shadow: inset 1px 1px 2px 1px var(--light-color1), inset -1px -1px 3px 2px var(--dark-color1), 0px 0px 3px 0px var(--light-color2), 0px 0px 2px 1px var(--dark-color1);
  text-shadow: var(--dark-color1);
  border-style: none;
  text-align: center;
  background: linear-gradient(to bottom, #356, #4ad);
  cursor:pointer;
  transition: all 0.3s ease-in-out;
}

.tabselected
{
  filter: sepia(0.6);
  transform: translate(0vh, 0vh) !important;
} 

.tabselect:hover
{
  background: linear-gradient(to bottom, var(--dark-color3), var(--light-color1));
  box-shadow: inset 1px 1px 2px 1px var(--light-color2), inset -1px -1px 3px 2px var(--dark-color3), 0px 0px 3px 0px var(--light-color3), 0px 0px 2px 1px var(--dark-color3);
  transform: translate(0vh, -1vh);
}

.manual
{
    background: linear-gradient(to bottom, #cff, #fff, #dff);
    background-attachment: fixed;
    color: var(--dark-color0);
}

.manual h1
{
  background: linear-gradient(to bottom, #dff, #ff8, #dff);
  border-radius: 2vh;
  color: rgb(55, 29, 199);
}

.manual th
{
  width: 20%;
}

.manual label
{
  display: inline-block;
  min-width: 5vw;
  background: linear-gradient(to right, #ddd, #aaa, #ddd);
  font-family: monospace;
  text-align: center;
}

.tabscript
{
  background: linear-gradient(to bottom, #cdd, #fff, #dee);
  background-attachment: fixed;
  color: var(--dark-color1);
}

.tabscript .icon
{
  margin:0px 10px;
  font-size:130%;
}

.tabscriptmain
{
  background:white;
  border:1px solid black;
  height:80%;
  width:85%;
  padding:5px;
  margin:5px;
  text-align:left;
  position:relative;
  overflow: hidden;
}

.tabscripteditor
{
  padding-left:50px;
  font-size:18px;
  /*font-weight:bold;*/
  font-family:sans-serif;
  line-height:22px;
  height: 100%;
  width: 100%;
  text-align:left;
  position:absolute;
  left:0.4px;
  top:0.2px;
  opacity:0.8;
  overflow-y:scroll;
  outline: none;
}

.tabscriptlines
{
  padding-left:0px;
  font-weight:normal;
  width:100%;
  text-align:right;
  overflow:hidden;
  font-size:14px;
  opacity: 1;
  color:#000;
}

.tabscripteditor
{
  background: linear-gradient(0deg, rgba(255,255,255,0.5) 50%, rgba(250,250,220,0.5) 50%);
  background-repeat: repeat-y;
  background-size: 100% 44px;
  background-attachment: local;
}

.tabscriptinfo 
{
  width: 85%;
  height: 40px;
  background: #000;
  opacity: 0.2;
  border-radius: 10px;
  text-align: center;
  color: #ffa;
  transition: all 0.2s linear;
}



